.nav-logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #146481;
  color: #fff;
  padding: 12px;
}
.nav-logo img {
  max-height: 40px;
  margin-right: 12px;
}
.nav-logo .nav-logo-title {
  font-size: 18px;
  font-weight: 800;
  font-family: 'EudoxusSans-Medium';
}
.menu {
  margin-top: 16px;
}
.menu .menu-toggle {
  width: 32px;
  height: 32px;
  background: #789;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  top: 115px;
  left: 230px;
  z-index: 163;
}
.menu-toggle svg {
  fill: #fff;
}
.menu .nav-group-title {
  font-size: 14px;
  color: #858585;
  margin: 8px 0 4px 0;
  padding-left: 28px;
  font-family: 'Manrope-Regular', sans-serif;
  font-weight: 600;
}
.menu .nav-tab {
  padding: 7px 0 7px 26px;
}
.menu .nav-tab svg {
  margin-right: 10px;
  fill: #474747;
}
.menu .nav-tab span {
  font-size: 14px;
  text-decoration: none;
  color: #474747;
  white-space: normal;
  word-wrap: break-word;
}
.menu .nav-tab-displace {
  padding-left: 54px;
}
.request-count {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  background: red;
  color: #fff;
  font-weight: 800;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
}
